.seleccionado{
  background-color: #0d6efd;
  color: white;
  border: none;
}
.container{
  display: flex;
  text-align: center;
  justify-content: center;
}
.swal2-confirm.btn-primary {
  background-color: #007bff !important;
}
