<app-header></app-header>
<div class="wrapper">
  <div class="card m-2">
    <div class="card-header">
      <h4>facturación Electronica</h4>
    </div>
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-2"><!--EMPRESA-->
          <label>Empresa:</label>
        </div>
        <div class="col-3"><!--LISTA EMPRESAS-->
          <input type="text" readonly class="form-control"
            [(ngModel)]="empresa.razonsocialemisor">
        </div>
        <div class="col-1"><!--FECHA EMISION-->
          <label>Fecha Emision</label>
        </div>
        <div class="col-2"><!--FECHA EMISION INPUT DATE-->
          <input type="datetime-local" class="form-control"
            [(ngModel)]="facturaElectronica.FECHAEMISION">
        </div>
        <div class="col-2"><!--FECHA VENCIMIENTO-->
          <label>Fecha Vencimiento</label>
        </div>
        <div class="col-2"><!--FECHA VENCIMIENTO INPUT DATE-->
          <input type="datetime-local" class="form-control"
            [(ngModel)]="facturaElectronica.FECHAVENCIMIENTO">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-2"><!--TIPOS DOCUMENTO-->
          <label>Tipo Documento:</label>
        </div>
        <div class="col-3"><!--LISTA TIPOS DOCUMENTO-->
          <select class="form-select" placeholder="Seleccione un tipo de
            documento" [(ngModel)]="facturaElectronica.TIPODOCUMENTO" (change)="TraerSerie()">
            <option value="">Seleccionar</option>
            <option value="01">Factura</option>
            <option value="03">Boleta</option>
      <!--       <option value="07">Nota de credito</option>
            <option value="08">Nota debito</option> -->
          </select>
        </div>
        <div class="col-1"><!--CLIENTE-->
          <label>Cliente</label>
        </div>
        <div class="col-6"><!--INPUT CLIENTE-->
            <select class="form-select" [(ngModel)]="cliente" >
              <option value="null">Seleccione un cliente</option>
              <option [ngValue]="item" *ngFor="let item of clientes" >{{item.razonsocialadquiriente}}</option>
            </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-2"><!--SERIE NUMERO-->
          <label style="width: 150px;">SERIE Y NUMERO <b style="color: red;">(*)</b></label>
        </div>
        <div class="col-3"><!--SERIE NUMERO-->
          <div class="input-group mb-1">
            <select [(ngModel)]="facturaElectronica.SERIENUMERO"
              class="form-select">
              <option value="">Seleccione una serie</option>
              <option value="{{item.serie}}" *ngFor="let item of series">{{item.serie}}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="listarSerie(Serie)"><i
                  class="fa-solid
                  fa-screwdriver-wrench" style="font-size: 24px;"></i></button>
            </div>
          </div>
        </div>
        <div class="col-1"><!--MONEDA-->
          Moneda
        </div>
        <div class="col-2"><!--BTNS MONEDA-->
          <div class="form-check form-check-inline"><!--BTN MONEDA 1-->
            <input class="form-check-input" type="radio"
              name="inlineRadioOptions" id="inlineRadio1" value="PEN"
              [(ngModel)]="facturaElectronica.TIPOMONEDA">
            <label class="form-check-label" for="inlineRadio1">Soles</label>
          </div>
          <div class="form-check form-check-inline"><!--BTN MONEDA 2-->
            <input class="form-check-input" type="radio"
              name="inlineRadioOptions" id="inlineRadio2" value="USD"
              [(ngModel)]="facturaElectronica.TIPOMONEDA">
            <label class="form-check-label" for="inlineRadio2">Usd Dolares</label>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-2"><!--Forma pago-->
          <label>Forma pago</label>
        </div>
        <div class="col-3" style="height: 40px;"><!--LISTA Forma pago-->
          <select class="form-select"
            [(ngModel)]="facturaElectronica.FORMAPAGO">
            <option value="">Seleccionar</option>
            <option value="0">CONTADO</option>
            <option value="1">CREDITO</option>
          </select>
        </div>
        <div class="col-1"><!--OC-->
          OC:
        </div>
        <div class="col-2"><!--OC - INPUT-->
          <input type="text" class="form-control"
            [(ngModel)]="facturaElectronica.ORDENCOMPRA">
        </div>
        <div class="col-1"><!--DETRACCION-->
          <label>Detracción:</label>
        </div>
        <div class="col-3"><!--LISTA Detraccion-->
          <select (change)="calcularTabla()" [(ngModel)]="detraccion" class="form-select">
            <option value="" [selected]>Sin Detracción</option>
            <option [ngValue]="{codigo:'022',porcentaje:12}">Otros servicios empresariales 12%</option>
            <option [ngValue]="{codigo:'022',porcentaje:10}">Fabricación de bienes por encargo 10%</option>
            <option [ngValue]="{codigo:'022',porcentaje:4}">Servicio de transporte de bienes 4%</option>
          </select>
        </div>
      </div>
<!--       <div class="row mb-1">
        <div class="col-2">
          <label>
            Observaciones
          </label>
        </div>
        <div class="col-6">
          <input type="text" class="form-control"
            [(ngModel)]="facturaElectronica.OBSERVACIONES">
        </div>
      </div> -->
      <hr>
      <div class="row">
        <!--    <div class="col-6 mb-1">
          <div class="row mb-1">
            <div class="col-4">
              <label>Referencia</label>
            </div>
            <div class="col-8">
              <div class="input-group">
                <input type="text" class="form-control" [disabled]>
                <span class="input-group-text">...</span>
              </div>
            </div>
          </div> -->
        <!--        <div class="row mb-1">
            <div class="col-4">
              <label>Tipo Nc/Nd</label>
            </div>
            <div class="col-8">
              <select class="form-select"
                [(ngModel)]="facturaElectronica.tipoNcNdName" [disabled]>
                <option selected [ngValue]="null">Seleccionar</option>
                <option *ngFor="let item of []" [ngValue]="item.descripcion">{{item.descripcion}}</option>
              </select>
            </div>
          </div> -->
        <!--       <div class="row mb-1">
            <div class="col-4">
              <label>Motivo</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control"
                [(ngModel)]="facturaElectronica.motivoNcNd" [disabled]>
            </div>
          </div>
        </div> -->
        <div class="col-8"><!-- TABLA CUOTAS-->
          <div class="table table-responsive" style="max-height:
            150px;">
            <table class="table table-bordered centrado">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Fecha</th>
                  <th>Monto</th>
                  <th>Opt</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of
                  cuotas, let i= index">
                      <td>{{i+1}}</td>
                      <td>{{item.FechaPagoCuota}}</td>
                      <td>{{item.MontoPagoCuota}}</td>
                      <td ><i class="fa fa-trash" (click)="eliminarCuota(item.id)"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        <div class="col-4 mb-1">
          <div class="label-button"><!--IMPORTAR DATOS-->
              <label (click)="abrirModal(importarDocumentos, 'lg')">Importar Datos <i class="fa fa-plus"></i></label><br>
              <label style="margin-right: 10px;" (click)="abrirModal(administrarCuotas, 'lg')">Cuotas <i class="fa fa-plus"></i></label>
          </div>
        </div>
            <div class="col-8 mb-1"><!--DETALLE FACTURA-->
              <div class="table table-responsive" style="max-height:
                440px;">
                <table class="table table-bordered">
                  <thead>
                    <th>ITEM</th>
                    <th>CODIGO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>CANT.</th>
                    <th>IMP.U</th>
                    <th>PREC.U</th>
                    <th>TOT. NETO</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of empaqueFactura, let i= index">
                      <td>{{i+1}}</td>
                      <td>{{item.codigo}}</td>
                      <td>{{item.descripcion}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>{{item.ImporteUnitarioSinImpuesto.toFixed(2)}}</td>
                      <td>{{(item.ImporteUnitarioSinImpuesto*1.18).toFixed(2)}}</td>
                      <td>{{(item.cantidad*item.ImporteUnitarioSinImpuesto).toFixed(2)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="width: 100%;">
                <button type="button" (click)="declararFactura()" class="btn btn-outline-success btn-lg"
                  style="float: right;">Declarar Documento </button>
              </div>
            </div>
            <div class="col-4 mb-1"><!--MONTOS FACTURA-->
              <div class="row">
                <div class="col-4"><!--TOTAL GRAVADA -->
                  <label>Gravada</label>
                </div>
                <div class="col-8"><!--TOTAL GRAVADA INPUT -->
                  <p class="pStyleInput">{{totalGrabada}}</p>
                </div>
                <div class="col-4"><!--TOTAL IGV-->
                  <label>Total Igv</label>
                </div>
                <div class="col-8"><!--TOTAL IGV INPUT-->
                  <p class="pStyleInput">{{totalIgv}}</p>
                </div>
                <div class="col-4"><!--TOTAL VENTA-->
                  <label>Total Venta</label>
                </div>
                <div class="col-8"><!--TOTAL VENTA INPUT-->
                  <p class="pStyleInput">{{totalVenta}}</p>
                </div>
                <div class="col-4"><!--TOTAL DETRACCION-->
                  <label>Detracción</label>
                </div>
                <div class="col-8"><!--TOTAL DETRACCION INPUT-->
                  <p class="pStyleInput">{{totalDetraccion}}</p>
                </div>
                <div class="col-4"><!--TOTAL DETRACCION-->
                  <label>Total Pen. Pago</label>
                </div>
                <div class="col-8"><!--TOTAL DETRACCION INPUT-->
                  <p class="pStyleInput">{{totalPendientePago}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #administrarCuotas>
      <div class="card m-2">
        <div class="card-header">
          <h5>Añadir nueva cuota</h5>
        </div>
        <div class="card-body">
          <div class="row" style="width: 100%;">
            <div class="col-1"><!--FECHA CUOTA-->
              <label>Fecha</label>
            </div>
            <div class="col-4"><!--FECHA CUOTA INPUT DATE-->
              <input type="date" class="form-control" [(ngModel)]="fecha_cuota">
            </div>
            <div class="col-2"><!--CANTIDAD CUOTA-->
              <label>Monto</label>
            </div>
            <div class="col-4"><!--CANTIDAD CUOTA INPUT-->
              <input type="number" [(ngModel)]="monto_cuota" class="form-control"
                min="1">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" ngbAutofocus class="btn
            btn-outline-secondary" (click)="cerrarModal()">Salir</button>
          <button type="button" class="btn btn-primary" (click)="agregarCuota()">Agregar</button>
        </div>
      </div>
    </ng-template>
    <ng-template #importarDocumentos>
      <div class="card">
        <div class="card-header">
          <h5>Importar Documentos</h5>
        </div>
        <div class="card-body">
          <div class="row mb-1">
            <div class="col-4">
              <label>Desde :</label>
              <input type="datetime-local" [(ngModel)]="desde"
                class="form-control">
            </div>
            <div class="col-4">
              <label>Hasta :</label>
              <input type="datetime-local" [(ngModel)]="hasta"
              class="form-control">
            </div>
            <div class="col-1">
              <label>&nbsp;</label>
              <button class="input-group-text"
              (click)="importarDatos()"><i class="fas fa-search"
                style="height: 23px;"></i></button>
            </div>
            <br>
          </div>
          <div class="row">
            <div class="table table-responsive" style="max-height: 450px;">
              <table class="table table-bordered">
                <tr *ngFor="let item of tablaEmpaque"
                  class="empaque"
                  [ngClass]="{'seleccionado': tablaEmpaqueSeleccionados.indexOf(item.serieNumeroGuia) !== -1
                }"
                  [ngStyle]="{'pointer-events': item.SPE_DESPATCH_ITEM.length === 0 ? 'none' : 'auto'}"
                  (click)="item.SPE_DESPATCH_ITEM.length > 0 && selections(item.serieNumeroGuia)">
                  <td>
                    <div class="empaques">
                      <p>Guia: {{item.serieNumeroGuia}}</p>
                      <p>Cliente: {{item.RazonSocialAdquiriente}}</p>
                      <p>Dirección: {{item.DireccionPtoLlegada}}</p>
                      <p>ubigeo Destino: {{item.UbigeoPtoLlegada}}</p>
                      <p>Vendedor: {{item.Vendedor}}</p>
                      <p>Items: {{item.SPE_DESPATCH_ITEM.length}}</p>
                    </div>
                  </td>
                  <td><label>Total:{{item.total}}</label></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row mt-2">
            <div style="text-align: right;">
              <button class="btn btn-success"
                (click)="asginarEmpaquesFactura();">Asignar</button>
              <button class="btn btn-danger"
                style="width: 80px;margin-right: 5px;"
                (click)='cerrarModal();limpiarEmpaque()'>Salir</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #Serie>
      <div class="card">
        <div class="card-header">
          <div class="container">
            <h5>SERIE &nbsp; &nbsp;</h5>
            <button class="btn btn-secondary"
              (click)="abrirModal(CrudSerie,'lg')">+</button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="height: 400px;">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">N° Doc Emisor</th>
                  <th scope="col">Tipo Doc</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Serie</th>
                  <th scope="col">Correlativo</th>
                  <th scope="col">Opt</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tablaSeries">
                  <th scope="row">{{item.numerodocumentoemisor}}</th>
                  <td>{{item.tipodocumento}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>{{item.serie}}</td>
                  <td>{{item.correlativo}}</td>
                  <td style="text-align: center;cursor: pointer;"
                    (click)="borrarSerie(item.numerodocumentoemisor,item.serie)"><i
                      class="fa-solid fa-trash"
                      style="font-size: 20px;color: rgb(255, 0, 0);"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #CrudSerie>
      <div class="card">
        <div class="card-header">
          <h5>Crear Serie</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="crearSerie(empresa)" #empresa="ngForm"
            id="empresa">
            <div class="form-group row">
              <label for="input" class="col-sm-2 col-form-label"
                style="width:
                160px;"><a style="color: red;">(*)</a>
                N° Documento:</label>
              <div class="col-sm-9">
                <input type="text" ngModel class="form-control"
                  [ngClass]="{'is-invalid':
                  empresa.submitted&&empresa.controls['NUMERODOCUMENTOEMISOR'].errors}"
                  name="NUMERODOCUMENTOEMISOR" placeholder="Ingrese el documento"
                  required>
              </div>
            </div>
            <div class="form-group row">
              <label for="input" class="col-sm-2 col-form-label"
                style="width:
                160px;"><a style="color: red;">(*)</a> Tipo
                Doc:</label>
              <div class="col-sm-3">
                <select ngModel [(ngModel)]="tipodocEmp"
                  class="form-select"
                  name="TIPODOCUMENTO" required>
                  <option value="01">Factura</option>
                  <option value="03">Boleta</option>
                  <option value="07">Nota de credito</option>
                  <option value="08">Nota debito</option>
                </select>
              </div>

              <label *ngIf="tipodocEmp=='07'" for="input" class="col-sm-2
                col-form-label"
                style="width:
                180px;"><a style="color: red;">(*)</a> Tipo
                Doc Afecto:</label>
              <div *ngIf="tipodocEmp=='07'" class="col-sm-3">
                <select ngModel [(ngModel)]="tipodocEmp"
                  class="form-select"
                  name="TIPODOCUMENTOAFECTO" required>
                  <option value="01">Factura</option>
                  <option value="03">Boleta</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="input" class="col-sm-2 col-form-label"
                style="width:
                160px;"><a style="color: red;">(*)</a>
                Descripción:</label>
              <div class="col-sm-9">
                <input type="text" ngModel class="form-control"
                  [ngClass]="{'is-invalid':
                  empresa.submitted&&empresa.controls['DESCRIPCION'].errors}"
                  name="DESCRIPCION"
                  placeholder="Ingrese su descripción" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="input" class="col-sm-2 col-form-label"
                style="width:
                160px;"><a style="color: red;">(*)</a>
                Serie:</label>
              <div class="col-sm-3">
                <input type="text" ngModel class="form-control"
                  [ngClass]="{'is-invalid':
                  empresa.submitted&&empresa.controls['SERIE'].errors}"
                  name="SERIE"
                  placeholder="Ejemplo T001" maxlength="4" minlength="4"
                  required>
              </div>
              <label for="input" class="col-sm-2 col-form-label"
                style="width:
                160px;"><a style="color: red;">(*)</a>
                Correlativo:</label>
              <div class="col-sm-3">
                <input type="text" ngModel class="form-control"
                  [(ngModel)]="correlativo"
                  [ngClass]="{'is-invalid':
                  empresa.submitted&&empresa.controls['CORRELATIVO'].errors}"
                  name="CORRELATIVO"
                  placeholder="Ingrese el correlativo" required>
              </div>
            </div>
          </form>
          <div class="row mt-2">
            <div style="text-align: right;">
              <button class="btn btn-danger" style="width:
                80px;margin-right: 5px;"
                (click)='salir()'>Salir</button>
              <button class="btn btn-success" style="width: 90px;"
                form="empresa"
                type="submit">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
