.xlModal > .modal-dialog {
  max-width: 1490px !important;
  min-width: 971px !important;
  width: 95% !important;
}
.hoverPointer:hover{
  cursor: pointer;
}
.btn-circle {
  width: 25px;
  height: 25px;
  padding: 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}

.pStyleInput{
  height: 35px;
  background-color: rgb(233, 236, 239);
  border: 1px solid rgb(222, 226, 230);
  border-radius: 4px;
  margin-bottom: 3px;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  padding-top: 7px;
}
.seleccionado{
  background-color: #0d6efd;
  color: white;
  border: none;
}
.container{
  display: flex;
  text-align: center;
  justify-content: center;
}
.swal2-confirm.btn-primary {
  background-color: #007bff !important;
}
.margen-modal div{
  margin-bottom: 3px;
}
.empaques{
width: 100%;
}
.empaque{
  cursor: pointer;
  user-select:none
}

.bloqueado{
  cursor: not-allowed;
}
.empaques p{
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.fa-trash{
  color: red;
  cursor: pointer;
  font-size: 16px;
}
.centrado td{
  text-align: center;
}
.centrado th{
  text-align: center;
}
.label-button label{
margin-top: 3px;
margin-right: 3px;
margin-bottom: 3px;
border-radius: 15px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
padding: 5px;
cursor: pointer;
}
.label-button label:hover{
  background-color: #f1f1f1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
